env/
env_updated/
training_data/original_data/
data_augmentation/augmented_data/
data_augmentation/augmented_data_without_noise/
data_augmentation/augmented_data_without_noise_shift/
data_augmentation/augment_tests
practice/
temp_augmented_data/
evaluation/anomalous_data/
evaluation/results_old/
__pycache__/

old_tests/